/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html {
  font-size: 18px; /* 18 / 16 = 1.125 */
  line-height: 22px; /* 22 / 18 = 1.222*/
  /*font-family: Century Gothic, sans-serif;*/
  background-color: #D7DCDD;
  color: #093755;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: Copperplate Copperplate Gothic Light, sans-serif;
}

h1 {
  font-size: 33px; /* 42.635 / 18 = 2.369 */
  line-height: 33px; /* 44 / 42.635 = 1.032*/
  background-image: linear-gradient(to bottom, #6eb1c4, #8abacb, #a4c3d1, #bccdd6, #d2d7da);
  /*border: 2px solid white; /* NOTE: diagnostics */
}
h2 {
font-size: 33px;
padding-bottom:11px;
line-height: 33px;
}

body {
  padding-bottom: 100px;
}
main {
  padding-right: 1.222em; /* 22 / 18 = 1.2222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222 */
}
ul a {
display: block;
text-decoration: none;
padding-left: 20px;
padding-top: 15px;
padding-bottom: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
footer {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/
/* NOTE: Body header */
#header img {
  display: block;
  max-height: 88px;
  float: left;
}
#header h1 {
  padding-top: 22px;
}
#about-us h2,
article header {
margin-top: 44px;
}
#order-options li,
#food-choices-navigation li {
  width: 100%;
  font-size: 33px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 11px;
  background-color: rgba(109,181,195,1);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#food-choices-navigation a {
  padding: 22px;
}

#slideshow,
#order-options {
  margin-top: 66px;
}
#slideshow h2 {
  text-align: center;
}
#slideshow figure {
position: absolute;
/* NOTE: centers figure element horizontally */
left: 0;
right: 0;
/* NOTE: keep padding same with main content */
margin-left: 1.222em; /* 22 / 18 = 1.2222222 */
margin-right: 1.222em; /* 22 / 18 = 1.2222222 */
}
#slideshow figcaption {
  text-align: center;
}
#slideshow img {
  display: block;
  max-width: 100%;
  max-height: 250px;
  /* NOTE: centers picture inside figure element */
  margin: 0 auto;

}
#food-choices-page body {
    padding-bottom: 350px;
}

#food-choices-navigation li {
  float: left;
  width: 45%;
}
#food-choices-navigation li:nth-child(even) {
  margin-left: 5%;
}
.no-js #nav {
  margin-top: 50px;
}
.no-js #nav li {
  width: 45%;
  margin-top: 11px;
  background-color: rgba(109,181,195,1);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 22px;
}
.no-js #nav li:nth-child(even) {
  float: right;
  margin-left: 5%;
  margin-top: -50px;
  margin-right: 1.222em; /* 22 / 18 = 1.2222222 */
}
.no-js #nav li:last-child{
  margin: 0 auto;
  margin-top: 11px;
}
.no-js #nav a {
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  text-align: center;
}

.no-js #nav li {
  background-color: rgba(109,181,195,1);
}
#intro-page body {
  padding-bottom: 300px;
}
#food-choices h2,
#pizzas h2 {
  font-size: 33px;
  line-height: 33px;
  padding-bottom: 11px;
}
#food-choices p {
  font-size: 22px;
}
.inner-nav {
  width: 100%;
  float: left;
}
.inner-nav ul {
  width: 100%;
  padding: 0;
  float: left;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.inner-nav li {
  float: left;
}
#pizza-navigation li {
  width: 20%;
}
#wings-navigation li{
  width: 33%;
}
#sides-navigation li {
  width: 50%;
}

.menu-item {
  margin-top: 22px;
  border: 2px solid black;
  padding: 11px 11px;
}
 #menu {
  float: none;
  margin-top: 110px;
}
#menu.no-nav-menu {
  margin-top: 0;
}
#pizza-customization-page article {
  position: relative;
}
#pizza-customization-page section {
  border: 2px solid black;
  border-top: none;
  box-sizing: inherit;
  /* NOTE:  Content below headers down*/
  padding-top: 22px;
}
#pizza-customization-page h3 a {
  height: 66px;
  border: 2px solid black;
  position: absolute;
  top: 44px;
  box-sizing: border-box;
  width: 50%;
  padding: 11px;
  text-align: center;
}
#pizza-customization-page h3 a.selected {
  height: 66px;
  border-width: 6px;
  border-right: 6px solid black;
}
#sauce-cheese-crust h3 a.selected {
  border-right: 6px solid black;
}
#toppings-section h3 a.selected {
  border-left: 6px solid black;
}

#sauce-cheese-crust h3 a {
  border-right: 1px;
  left: 0;
}
#toppings-section h3 a {
  border-left: 1px;
  right:0;
}
.options-content {
  display: none;
}
#pizza-options.selected,
#toppings-content.selected {
  display: block;
}
.pizza-main-option h4 {
  height: 44px;
  background-color: gray;
  font-size: 28px;
  line-height: 33px;
  padding: 11px;
}
.pizza-secondary-options h5 {
  background-color: gray;
  height: 22px;
  padding: 11px;
  font-size: 22px;
}
.pizza-main-options li {
  padding: 11px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.pizza-main-option li.selected {
  background-color: rgba(109,181,195,1);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.pizza-secondary-options li:nth-of-type(n+2){
  display: inline-block;
  margin: 11px;
  padding: 11px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
}
.pizza-secondary-options li:nth-of-type(n+2).selected {
  background-color: rgba(109,181,195,1);
}
.pizza-secondary-option-amount li:nth-of-type(n+2) {
  width: 20%;
}
#pizza-secondary-option-sp li:nth-of-type(n+2) {
background-color: #D7DCDD;
}
/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
.js #header {
  padding-bottom: 33px;
  box-shadow: 0  0.2778em 0.556em #000000; /* NOTE: 5px/18 =0.2778 ; 10/18=556  */
}
.js #nav ul {
  display: none;
}
#js-nav {
  position: absolute;
  right: 0;
  top: 22px;
}
/* NOTE: Credit to https://css-tricks.com/three-line-menu-navicon/ */
.js .border-menu {
  position: relative;
  padding-left: 1.25em;
}
.js .border-menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  right: 22px;
  width: 44px;
  height: 6px;
  border-top: 18px double #000;
  border-bottom: 6px solid #000;
}
.js #header.nav-is-visible {
  box-shadow: none;
}
.js #nav.nav-is-visible {
  margin-top: 50px;
  padding: 0;
}
.js #nav ul.nav-is-visible {
  display: block;
  width: 100%;
  padding: 0;
  background: inherit;
}
.js #nav ul.nav-is-visible:last-child {
  box-shadow: 0  0.2778em 0.556em #000000; /* NOTE: 5px/18 =0.2778 ; 10/18=556  */
}
.js #nav.nav-is-visible li {
  border-bottom: 1px solid black; /* NOTE: diagnostics */
  box-sizing: border-box;
  font-size: 22px;
}
.js #nav.nav-is-visible a {
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  #order-options {
    padding: 0 15%;
  }

}

/* @media screen and (min-width: 500px) {
  #nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  #nav li {
    display: block;
    background-color: #FF8080;
    float: left;
    width: 20%;
  }

} */
