/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.222*/
  /*font-family: Century Gothic, sans-serif;*/
  background-color: #D7DCDD;
  color: #093755;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Copperplate Copperplate Gothic Light, sans-serif";
}

h1 {
  font-size: 1.8333em;
  line-height: 1.83333em; /* NOTE: 33px */
  /*border: 0.111em  solid white; /* NOTE: diagnostics */
}

h2 {
  font-size: 1.8333em;
  padding-bottom: 0.3333em;
  line-height: 1.8333em;
}

body {
  padding-bottom: 5.555em;
}

main {
  padding-right: 1.222em; /* 22 / 18 = 1.2222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222 */
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul a {
  display: block;
  text-decoration: none;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
}
footer {
  position: absolute;
  width: 100%;
  height: 1.111em;
  bottom: 0;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

.menu-item-pic img {
  position: absolute;
  right: 0.027777em; /* NOTE: 5 */
  top: 3.666667em;
  height: 45%;
}
#header {
  background-image: linear-gradient(to bottom, #6eb1c4, #8abacb, #a4c3d1, #bccdd6, #d2d7da);
}

/* NOTE: Body header */
#header img {
  display: block;
  max-height: 4.888em;
  float: left;
}

#header h1 {
  padding-top: 0.66em;
}

#about-us h2,
article header {
  margin-top: 2.444em; /* NOTE: 44px */
}

#ready {
  font-size: 1.2222em; /* NOTE: 2.111em  */
  line-height: 1.2222em; /* NOTE: 2.111em  */
  font-weight: bold;
  text-align: center;
}
.inner-nav {
  width: 100%;
  float: left;
}
.inner-nav li {
  float: left;
}
.pizza-main-options li {
  border-bottom: 0.05555 solid black;
  box-sizing: border-box;
}
.toppings-section ul > li {
  border-bottom: 0.055555em solid black;
  box-sizing: border-box;
}
.pizza-button ul li,
.custom-pizza,
html:not(.pizza-page) .button {
  width: 40%;
  display: inline-block;
  margin: 0.6111em; /* NOTE: 11px */
  border-top-right-radius: 2.027777em;
  border-bottom-left-radius: 2.027777em;
  border-top-left-radius: 2.027777em;
  border-bottom-right-radius: 2.027777em;
  border-color: black;
  border-width: 0.111em ;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(109,181,195,1);
  position: absolute;
  bottom: 0.6111em; /* NOTE: 11px */
}
.pizza-secondary-options li:nth-of-type(n+2) {
  display: inline-block;
  margin: 0.6111em; /* NOTE: 11px */
  padding: 0 0.6111em; /* NOTE: 11px */
  border-top-right-radius: 2.027777em;
  border-bottom-left-radius: 2.027777em;
  border-top-left-radius: 2.027777em;
  border-bottom-right-radius: 2.027777em;
  border-color: black;
  border-width: 0.111em ;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
}
.pizza-secondary-option-amount li:nth-of-type(n+2) {
  width: 25%;
}
.pizza-main-option li.selected {
  background-color: rgba(109,181,195,1);
  border-top: 0.111em  solid black;
  border-bottom: 0.111em  solid black;
}
.pizza-secondary-options li:nth-of-type(n+2).selected {
  background-color: rgba(109,181,195,1);
}
.toppings-section ul {
  display: none;
}
.topping-amount li:nth-of-type(n+2) {
  width: 25%;
  display: inline-block;
  margin: 0.6111em; /* NOTE: 11px */
  border-top-right-radius: 2.027777em;
  border-bottom-left-radius: 2.027777em;
  border-top-left-radius: 2.027777em;
  border-bottom-right-radius: 2.027777em;
  border-color: black;
  border-width: 0.111em ;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
}
.toppings-section ul > li:last-of-type {
  border-bottom: none;
}
.pizza-button ul li:nth-of-type(n+2),
.custom-pizza {
  right: 5%;
  background-color: rgba(103,104,106,0.6); /* NOTE: */
  color: white;
}
.toppings-section ul > li:first-of-type {
  border-top: 0.05555 solid black;
}
#order-options li,
#food-choices-navigation li {
  width: 100%;
  font-size: 1.83em;
  text-align: center;
  box-sizing: border-box;
  margin-top: 0.333em;
  background-color: rgba(109,181,195,1);
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  border-top-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}
.custom-end-btn a {
  width: 40%;
  display: inline-block;
  margin: 0.6111em; /* NOTE: 11px */
  border-top-right-radius: 2.027777em;
  border-bottom-left-radius: 2.027777em;
  border-top-left-radius: 2.027777em;
  border-bottom-right-radius: 2.027777em;
  border-color: black;
  border-width: 0.111em ;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(109,181,195,1);
  position: absolute;
  bottom: 0.6111em;
  right: 30%;
}
.toppings-section h4 a {
  position: absolute;
  top: 7.333em ;
  width: 20%;
  text-decoration: underline;
  color: blue;
  padding: 0;
  border-top-right-radius: 2.027777em;
  border-bottom-left-radius: 2.027777em;
  border-top-left-radius: 2.027777em;
  border-bottom-right-radius: 2.027777em;
  border-color: black;
  border-width: 0.111em ;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
}
#food-choices-navigation a {
  padding: 0.666em;
}

#slideshow,
#order-options {
  margin-top: 3.666em;
}

#slideshow h2 {
  text-align: center;
}

#slideshow figure {
  position: absolute;
  /* NOTE: centers figure element horizontally */
  left: 0;
  right: 0;
  /* NOTE: keep padding same with main content */
  margin-left: 1.222em; /* 22 / 18 = 1.2222222 */
  margin-right: 1.222em; /* 22 / 18 = 1.2222222 */
}

#slideshow figcaption {
  text-align: center;
}

#slideshow img {
  display: block;
  max-width: 100%;
  max-height: 13.888em;
  /* NOTE: centers picture inside figure element */
  margin: 0 auto;
}

#food-choices-page body {
  padding-bottom: 19.444em;
}
#pizza-navigation li {
  width: 20%;
}
#wings-navigation li {
  width: 33%;
}
#sides-navigation li {
  width: 50%;
}
#food-choices-navigation li {
  float: left;
  width: 45%;
}
#food-choices-navigation li:nth-child(even) {
  margin-left: 5%;
}
.no-js #nav {
  margin-top: 2.7777em; /* NOTE: 50px */
}
.no-js #nav li {
  width: 45%;
  margin-top: 0.6111em; /* NOTE: 11px */
  background-color: rgba(109,181,195,1);
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  border-top-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
  font-size: 1.222em;
}
#pizza-secondary-option-size li:nth-of-type(n+2) {
  width: 27%;
}
#pizza-secondary-option-sp li:nth-of-type(n+2) {
  background-color: #D7DCDD;
}
.no-js #nav li:nth-child(even) {
  float: right;
  margin-left: 5%;
  margin-top: -2.7777em; /* NOTE: 50px */
  margin-right: 1.222em; /* 22 / 18 = 1.2222222 */
}
.no-js #nav li:last-child {
  margin: 0 auto;
  margin-top: 0.6111em; /* NOTE: 11px */
}
#pizza-customization-page a {
  padding-left: 0;
}
#pizza-customization-page h3 a {
  height: 3.666667em;
  border: 0.111em  solid black;
  position: absolute;
  top: 2.444em; /* NOTE: 44px */
  box-sizing: border-box;
  width: 50%;
  padding: 0.6111em; /* NOTE: 11px */
  text-align: center;
}
#toppings-section h3 a {
  border-left: 0.0555em;
  right: 0;
}
#sauce-cheese-crust h3 a {
  border-right: 0.0555em;
  left: 0;
}
#meat-toppings h4 a {
  left: 0.5555em;
}
#veggie-toppings h4 a {
  right: 0.5555em;
}
.no-js #nav a {
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  text-align: center;
}
#intro-page body {
  padding-bottom: 16.66667em;
}

#food-choices h2,
#pizzas-page h2 {
  font-size: 1.83333em; /* NOTE: 33px */
  line-height: 1.83333em; /* NOTE: 33px */
  padding-bottom: 0.6111em; /* NOTE: 11px */
}

#food-choices p {
  font-size: 1.2222em; /* NOTE: 2.111em  */
}
.inner-nav ul {
  width: 100%;
  padding: 0;
  float: left;
  border-top: 0.111em  solid black;
  border-bottom: 0.111em  solid black;
}

.menu-item {
  margin-top: 1.2222em; /* NOTE: 2.111em  */
  border: 0.111em  solid black;
  padding: 0.1111em 0.6111em; /* NOTE: 11px */
  position: relative;
  height: 18.33333em;
}
#menu {
  float: none;
  margin-top: 6.1111em;
}
#menu.no-nav-menu {
  margin-top: 0;
}
#pizza-customization-page article {
  position: relative;
}
#pizza-customization-page section {
  border: 0.111em  solid black;
  border-top: none;
  box-sizing: inherit;
  /* NOTE: Content below headers down*/
  padding-top: 1.2222em; /* NOTE: 2.111em  */
}
.toppings-section h5 a.selected {
  background-color: rgba(109,181,195,1);
  padding: 0.6111em; /* NOTE: 11px */
  font-size: 1.3333em;
  line-height: 1.83333em; /* NOTE: 33px */
}
#pizza-customization-page h3 a.selected {
  height: 3.666667em;
  border-width: 0.3333em;
}
#sauce-cheese-crust h3 a.selected {
  border-right: 0.3333em solid black;
}
#toppings-section h3 a.selected {
  border-left: 0.3333em solid black;
}
.options-content {
  display: none;
}
#pizza-options.selected,
#toppings-content.selected {
  display: block;
}

#gohome {
  text-decoration: none;
  font-weight: bold;
  margin-top: 1.2em;
  list-style-type: none;
  color: blue;
}

.pizza-main-option h4 {
  height: 2.444em; /* NOTE: 44px */
  background-color: gray;
  font-size: 1.5555em;
  line-height: 1.83333em; /* NOTE: 33px */
  padding: 0.6111em; /* NOTE: 11px */
}
.pizza-secondary-options h5 {
  background-color: gray;
  height: 1.2222em; /* NOTE: 2.111em  */
  padding: 0.6111em; /* NOTE: 11px */
  font-size: 1.2222em; /* NOTE: 2.111em  */
}
.custom-pizza,
html:not(.pizza-page) .button {
  right: 30%;
}
.custom-end-btn {
  position: relative;
  bottom: -4.027777em;
}
#toppings-content h4 a.selected {
  background-color: gray;
}
#toppings-content {
  margin-top: 3.666667em;
}
#veggie-toppings.selected ul,
#meat-toppings.selected ul {
  display: block;
}

.toppings-section h6 {
  background-color: gray;
  font: 1.2222em; /* NOTE: 2.111em  */
}
.topping-amount {
  display: none;
  margin-top: 1.2222em; /* NOTE: 2.111em  */
}
.topping-amount.selected {
  display: block;
}
.topping-amount li:nth-of-type(n+2).selected {
  background-color: rgba(109,181,195,1);
}
#pasta-page .menu-item {
  height: 21.111111em;
}


.menu-item-header {
  font-size: 1.2222em; /* NOTE: 2.111em  */
  font-weight: bold;
}

.menu-item-description {
  width: 55%;
  margin-top: 0.6111em; /* NOTE: 11px */
}
.cost {
  font-weight: bold;
  display: block;
  margin-top: 0.6111em; /* NOTE: 11px */ /* NOTE: 11px */
  border: 0.1111em solid black;
  box-sizing: border-box;
  padding: 0.30555em;
  width: 40%;
  width: 15%;
}
#checkout-items {
  margin-top: 1.2222em; /* NOTE: 2.111em  */
  border: 0.111em  solid black;
  box-sizing: border-box;
  padding: 1.2222em;
  min-height: 88px;
}
.checkout-item {
  border-bottom: 4px  solid rgba(109,181,195,1);
  padding: 0.1111em 0.6111em; /* NOTE: 11px */
  padding: 22px;
  margin-bottom: 22px;
  position: relative;
  height: 44px;
}
.checkout-item ul >li {
  display: inline-block;
  width: 33%;
}
.checkout-item ul >li:last-of-type {
  width: 15%;
  position: absolute;
  right: 22px;
  bottom: 22px;
}
.checkout-item-name {
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  left: 33px;
  bottom: 11px;
}
.checkout-item-type {
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 11px;
}
.checkout-item-cost {
  width: 10%;
  text-align: left;
}
#aside {
  position: fixed;
  top: 44px;
  left: 15%;
  background-color: rgba(109,181,195,1);
  width: 300px;
  height: 176px;
  z-index: 1;
  opacity: 0;
}
#aside h2 {
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 30%;
}
#aside li {
  list-style: none;
}
#aside p {
  font-size: 22px;
  position: absolute;
  top: 66px;
  left: 11px;
}
#aside .button {
background-color: gray;
padding: 11px;
bottom: 0;
}
#aside.display {
  animation: fadeinout 4s linear forwards;
}
@keyframes fadeinout {
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0;}
}
/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
.js #header {
  padding-bottom: 1.83333em; /* NOTE: 33px */ /* NOTE: 33px */
  box-shadow: 0  0.2778em 0.556em #000000; /* NOTE: 5px/18 =0.2778 ; 10/18=556  */
}
.js #nav ul {
  display: none;
}
#js-nav {
  position: absolute;
  right: 0;
  top: 1.2222em; /* NOTE: 2.111em  */
}
/* NOTE: Credit to https://css-tricks.com/three-line-menu-navicon/ */
.js .border-menu {
  position: relative;
  padding-left: 1.25em;
}
.js .border-menu:before {
  content: "";
  position: absolute;
  top: 2.22em;
  right: 1.2222em; /* NOTE: 2.111em  */
  width: 2.4444em;
  height: 0.33333em; /* NOTE: .3333em */
  border-top: 1em double #000;
  border-bottom: 0.33333em solid #000;
}
.js #header.nav-is-visible {
  box-shadow: none;
}
.js #nav.nav-is-visible {
  margin-top: 2.77em; /* NOTE: 50px */
  padding: 0;
}
.js #nav ul.nav-is-visible {
  display: block;
  width: 100%;
  padding: 0;
  background: inherit;
}
.js #nav ul.nav-is-visible:last-child {
  box-shadow: 0  0.2778em 0.556em #000000; /* NOTE: 5px/18 =0.2778 ; 10/18=556  */
}
.js #nav.nav-is-visible li {
  border-bottom: 0.555em solid black; /* NOTE: diagnostics */
  box-sizing: border-box;
  font-size: 1.2222em; /* NOTE: 2.111em  */
}
.js #nav.nav-is-visible a {
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  #order-options {
    padding: 0 15%;
  }
  #pizza-customization-page article {
    margin-left: 10%;
    margin-right: 10%;
  }

}
@media screen and (min-width: 600px) {
  #menu {
    margin-left: 5%;
    margin-right: 5%;
  }

}
@media screen and (min-width: 750px) {
  .menu-item {
    width: 43%;
    height: 22.125em;
    float: left;
  }
  .menu-item:nth-of-type(2n ) {
    margin-left: 2%;
  }
  .menu-item-pic img {
    width: 40%;
  }
  body {
    padding-bottom: 78.125em;
  }
}
/* @media screen and (min-width: 500px) {
  #nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  #nav li {
    display: block;
    background-color: #FF8080;
    float: left;
    width: 20%;
  }

} */
