/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/*
  Using a 4:3 modular scale
  http://www.modularscale.com/?18&px&1.333
*/

html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.222em; /* 22 / 18 = 1.2222222 */
  padding: 0.75em 0.75em 0.75em 0.75em;
}

body {
  padding-top: 1.667em; /* 66 / 18 = 3.667 FIX THIS LATER */
  padding-right: 1.222em; /* 22 / 18 = 1.2222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222 */
  background-color: #f4f4f8; /* silver */
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

#menu a {
  text-decoration: none;
  display: block;
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  text-align: center;
}

#menu a:hover {
  background-color: #FFAEAE;
}

#menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#menu li {
  display: block;
  background-color: #FF8080;
  float: left;
  width: 20%;
}

#food-choices section {
  margin-top: 75.757px;
}

#about-us header {
  padding-top: 31.984px;
}


/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
