/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.222*/
  /*font-family: Century Gothic, sans-serif;*/
  background-color: #D7DCDD;
  color: #093755;
}
h1,
h2,
h3 {
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

h1 {
  font-size: 33px; /* 42.635 / 18 = 2.369 */
  line-height: 33px; /* 44 / 42.635 = 1.032*/
  background-image: linear-gradient(to bottom, #6eb1c4, #8abacb, #a4c3d1, #bccdd6, #d2d7da);
  /*border: 2px solid white; /* NOTE: diagnostics */
}

body {
  padding-bottom: 100px;
}
main {
  padding-right: 1.222em; /* 22 / 18 = 1.2222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222 */
}
ul a {
display: block;
text-decoration: none;
padding-left: 20px;
padding-top: 15px;
padding-bottom: 15px;
}

footer {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/
/* NOTE: Body header */
#header img {
  display: block;
  max-height: 88px;
  float: left;
}
#header h1 {
  padding-top: 22px;
}

#primary header {
  /*border: 2px solid white; /* NOTE: diagnostics */
}

#about-us header {
border: 2px solid white; /* NOTE: diagnostics*/
}

#order-options li,
#food-choices-navigation li {
  width: 100%;
  font-size: 1.777em;
  text-align: center;
  box-sizing: border-box;
  margin-top: 11px;
  background-color: rgba(109,181,195,1);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#food-choices-navigation a {
  padding: 30px;
}

}
}

}

#food-choices-navigation ul li {
  display: block;
  width: 15em;
  font-size: 1.777em;
  text-align: center;
  border: 2px solid white; /* NOTE: diagnostics */
  box-sizing: border-box;
  margin-top: 11px;
  background-color: rgba(109,181,195);
}

#deli-or-carryout {
  columns: 3;
  column-gap: 0;
}
#deli-or-carryout li {
  text-align: center;
  width: 100%;
  float: left;
  border: 2px solid white; /* NOTE: diagnostics */
  background-color: #093755;
}

#slideshow {
  margin-left: 16em;
  margin-top: 80px;
  display: block;
}

#photos {
  font-size: 1.777em;
  padding-bottom: 0.5em;
}

#slideshow > figure {
  position: absolute;
}

#logo-item {
  width: 15%;
}
#logo {
  height: 62px;
}

.menu-item {
  margin-top: 22px;
  border: 2px solid black;
  padding: 11px 11px;
}
/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
@media screen and (min-width: 500px) {
  #nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  #nav li {
    display: block;
    background-color: #FF8080;
    float: left;
    width: 20%;
  }

}
