/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.222*/
  /*font-family: Century Gothic, sans-serif;*/
  background-color: #FF988B;
  color: #093755;
}
h1,
h2,
h3 {
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

h1 {
  font-size: 33px; /* 42.635 / 18 = 2.369 */
  line-height: 33px; /* 44 / 42.635 = 1.032*/
  padding-bottom: 9px; /* 44 / 42.635 = 1.032*/
  padding-top: 22px;
  margin-left: 1.6em;
  margin-top: 0.2em;
  width: 14em;
  background-color: rgba(109,181,195);
  line-height: 1.222em; /* 22 / 18 = 1.2222222 */
  /*border: 2px solid white; /* NOTE: diagnostics */
}

body {
  padding-top: 1.222em; /* 66 / 18 = 3.667 FIX THIS LATER */
  padding-right: 1.222em; /* 22 / 18 = 1.2222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222 */
}

p {
  padding-left: 10.5em;
}

ul li a {
display: block;
text-decoration: none;
padding: 22px 0;
}

footer {
  float: none;
  text-align: center;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

#seal-team-logo {
  position: absolute;
  top: 0px;
  left: 10px;
}

#logo {
  width: 100%;
}

#sealteam {
  padding-left: 1.5em;
  font-size: 4.209em;
}

#primary header {
  /*border: 2px solid white; /* NOTE: diagnostics */
}
#nav a {
  text-decoration: none;
  display: block;
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  text-align: center;
}

#nav a:hover {
  background-color: #FFAEAE;
}

#nav li {
  background-color: #FF988B;
}

#food-choices,
#deli-or-carryout li{
  margin-top: 66px;
}
#food-choices-navigation ul {

  columns: 2 2em;
}
#food-choices-navigation ul li {
  display: inline-block;
  width: 100%;
  border: 2px solid white; /* NOTE: diagnostics */
  box-sizing: border-box;
  margin-top: 11px;
  background-color: rgba(109,181,195);
}

#deli-or-carryout {
  columns: 3;
  column-gap: 0;
}
#deli-or-carryout li {
  text-align: center;
  width: 100%;
  float: left;
  border: 2px solid white; /* NOTE: diagnostics */
  background-color: #093755;
}
#logo-item {
  width: 15%;
}
#logo {
  height: 62px;
}

.menu-item {
  margin-top: 22px;
  border: 2px solid black;
  padding: 11px 11px;
}
/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
@media screen and (min-width: 500px) {
  #nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  #nav li {
    display: block;
    background-color: #FF8080;
    float: left;
    width: 20%;
  }

}
